{
	"endOfLine": "lf",
	"tabWidth": 2,
	"printWidth": 100,
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"semi": false,
	"trailingComma": "all",
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"printWidth": 120
			}
		}
	],
	"plugins": ["prettier-plugin-packagejson", "prettier-plugin-tailwindcss"]
}
